body {
    font-size: 14px;
    background-image: url(../Css/Gambar/begron.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .v92_338 {
    width: 100%;
    height: 100%;
    /* background: rgba(255,255,255,1); */
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .v1_39 {
    width: 500px;
    height: 700px;
    background: rgba(107,107,185,1);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 30px;
    right: 60px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .background_chat_home {
    width: 500px;
    height: 700px;
    background-image: url(../Css/Gambar/begron_login.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  /* .v145_577 {
    width: 944px;
    height: 848px;
    background: none;
    opacity: 1;
    position: absolute;
    top: 190px;
    left: 205px;
    border-radius: 50%;
  } */
  .v145_578 {
    width: 100%;
    height: 868px;
    background: rgba(254,160,46,1);
    opacity: 1;
    position: absolute;
    top: 121px;
    left: 600px;
  }
  .v3_61 {
    width: 420px;
    height: 47px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 380px;
    left: 45px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v3_62 {
    width: 199px;
    color: rgba(168,168,168,1);
    position: absolute;
    top: 17px;
    left: 22px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 13px;
    opacity: 1;
    text-align: left;
  }
  .v3_63 {
    width: 100px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 350px;
    left: 45px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 17px;
    opacity: 1;
    text-align: left;
  }
  .v3_64 {
    width: 420px;
    height: 47px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 480px;
    left: 45px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v3_65 {
    width: 199px;
    color: rgba(168,168,168,1);
    position: absolute;
    top: 17px;
    left: 22px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 13px;
    opacity: 1;
    text-align: left;
  }
  .v67_352 {
    width: 500px;
    height: 80px;
    background: rgba(8,8,74,1);
    opacity: 1;
    position: absolute;
    /* top: 0px;
    left: 2px; */
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v5_99 {
    width: 291px;
    color: rgba(254,160,46,1);
    position: absolute;
    top: 28px;
    left: 85px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 17px;
    opacity: 1;
    text-align: left;
  }
  .v5_103 {
    width: 35px;
    height: 35px;
    background-color: #08084A;
    opacity: 1;
    position: absolute;
    top: 25px;
    left: 450px;
    overflow: hidden;
  }
  .v5_104 {
    width: 28px;
    height: 28px;
    background-image:  url("../Css/Gambar/minimize.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #08084A;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    /* border: 2px solid rgba(254,160,46,1); */
  }
  .v103_526 {
    width: 30px;
    height: 57px;
    background: url("../Css/Gambar/Logo_ecentrix.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 12px;
    left: 30px;
    overflow: hidden;
  }
  .v6_2 {
    width: 70px;
    height: 27px;
    background: rgba(254,160,46,1);
    border-radius: #08084A;
    opacity: 1;
    position: absolute;
    top: 550px;
    left: 350px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v6_3 {
    width: 67px;
    color: rgba(8,8,74,1);
    position: absolute;
    top: 5px;
    left: 18px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 13px;
    opacity: 1;
    text-align: left;
  }
  .v3_66 {
    width: 100px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 450px;
    left: 45px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 17px;
    opacity: 1;
    text-align: left;
  }
  .v69_415 {
    width: 280px;
    height: 140px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 150px;
    left: 45px;
    overflow: hidden;
  }
  .caption_home_1 {
    width: 400px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 1px;
    font-family: Montserrat;
    font-weight: Bold;
    font-size: 35px;
    opacity: 1;
    text-align: left;
  }
  .caption_home_2 {
    width: 400px;
    color: rgba(255,255,255,1);
    position: relative;
    top: 65px;
    left: 1px;
    font-family: Montserrat;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v145_553 {
    width: 500px;
    height: 42px;
    background-color: #6C6CBA;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 655px;
    left: 1px;
    overflow: hidden;
  }
  .v145_554 {
    width: 147px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 20px;
    left: 5px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 8px;
    opacity: 1;
    text-align: center;
  }
